@inherits DataTemplate

<div id="@Id" class="@CssClass" style="@LayoutCss" ref="LayoutRoot">

    <Grid Parent="this" Background="white"
          Margin="T(60)" Padding="T(20)"
          RowDefinitions="@Rows("Auto", "*")"
          Tag="DemoPresenterRoot">

        <TextBlock Parent="PARENT"
                   Text="@_item.Title"
                   Margin="T(0,0,0,12)"
                   FontSize="32.0"
                   FontWeight="FontWeight.SemiBold" />

        <ContentControl Parent="PARENT" Row="1"
                        ContentTemplate="@_item.View" />
    </Grid>

</div>

@functions{
    private Index.ComponentGalleryItem _item => (Index.ComponentGalleryItem)base.DataContext;
}
